# ==============================================
# MTK Policy Rule
# ============

# for supporting access mtee based gatekeeper
allow gatekeeperd mtee_device:chr_file { read write open ioctl };
