# ==============================================
# MTK Policy Rule
# ============

# for supporting access mtee based keymaster
allow keystore mtee_device:chr_file { read write open ioctl };
